#put_act_main {
  float: right;
  width: 278px;
  height: 40px;
  margin-right: 12px;
}

#edit_act {
  float: right;
  width: 278px;
  height: 40px;
  margin-right: 12px;
}

.inp_name{
  padding: 6px 0 4px 10px;
  border: 1px solid #cecece;
  background: #F6F6f6;
  border-radius: 8px;
  width: 300px;
}

.col-3{
  border-right: solid #343a40 1px;
}

.col-9{
  padding-top: 12px;
}

.row{
  height: calc(100vh - 69px);
  width: 100vw;
  background-color: #8994A0;
}

.navbar{
  min-height: 69px;
}

.buttons{
  height: 72px;
  background-color: #343a40;
  border-radius: 7px;
}

.actives{
  height: calc(100vh - 244px);
  border-radius: 12px;
  margin-top: 40px;
  overflow: scroll;
}

.actives::-webkit-scrollbar {
  width: 0;
}

.modal-content {
  height: 93vh;
}

.new_act {
  background-color: #343A40;
  height: auto;
  margin-top: 12px;
  border-radius: 7px;
  display: flex;
  border: 2px solid white;
}

.act_el {
  border-right: 1px solid;
  height: auto;
  text-align: center;
  padding-top: 2%;
  padding-bottom: 2%;
  color: #fff;
  font-size: 25px;
}
